#tabela{
    width: 700px;
    margin: 0 auto;
    border: 1px solid rgb(243, 150, 11);
    border-collapse: collapse;
    thead{
        background-color: rgb(245, 144, 12);
        color: white;
        th{
            padding: 10px 0;
            text-align: center;
        }
    }
    tbody{
        tr:nth-child(even){
            background-color: #755a0d15;
        }
    }
}